os
io
re
json
pytz
base64
logging
datetime
pdfplumber
pandas>=2.*.*
google-cloud-storage>=3.*.*
google-cloud-secret-manager>=2.*.*
google-auth>=2.4.*
google-api-python-client>=2.172
google-auth-oauthlib>=1.2.2